.App {
  text-align: center;
}

body {
  background-color: #c2d6d6;
}

.App-logo {
  height: 40vmin;
}

/*.App-header {
  background-color: #293d3d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #09d3ac;
}
.container {
  display: inline;
}

.header {
  overflow: hidden;
  background-color: #293d3d;
  padding: 25px 10px;
  /* display: grid; */
}

.header-left {
  float: left;
  font-size: 22px;
  color: #c2d6d6;
  /* display: inline-block; */
}
.header-right {
  /* display: inline; */
  float: right;
}

#asset_name {
  color: #c2d6d6;
}

#asset_list {
  color: #ffffff;
}

.fa fa-search {
  color: #ffffff;
  margin-right: auto;
  padding-left: 80px;
}

.search_container {
  float: right;
}

#search {
  border: 0;
  background-color: transparent;
  font-size: 80%;
  border-bottom: 1px solid black;
}

.content {
  margin: auto;
  width: 80%;
  text-align: center;
  min-width: 800px;
  padding: 2%;
}

.phone_image {
  width: 10%;
  border-radius: 50%;
  border: 1px solid black;
  background: red;
  vertical-align: sub;
}

.phone_detail_image {
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
}

#detail_table {
  width: 100%;
}

#hide_this {
}

td,
th {
  border-bottom: 1px solid black;
  text-align: left;
  padding: 8px;
}

#assign,
#assign_to_me,
#request_release {
  background-color: #00b8e6;
  color: black;
  margin: 0 auto;
  margin-left: 10%;
  margin-bottom: 10%;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

::placeholder {
  color: black;
  opacity: 1;
}
