
@media screen and (min-width: 601px) {
  input {
    font-size: 1.5em;
  }
  .login {
     font-size: 1.5em;
   }
  .copyright {
     font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 1em;
  }
  .login {
     font-size: 1em;
   }
   .copyright {
     font-size: 0.8em;
  }
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    margin: auto;
    width: 50%;
    text-align: center;
    min-width: 800px;
}

.topimage{
    display: block;
    margin: 0 auto;
}

img.location {
    display: block;
    margin: 0 auto;
    width:5%;
}

img.quickasset {
    display: block;
    margin: 0 auto;
    width: 30%;
}

.inputs {
    width:60%;
    margin: 0 auto;
    margin-top:20px;
}

input {
    background-color:transparent;
    outline: none;
    border: none;
    height:50%;
    /*font-size: 1.8em;*/
    color: #ffffff;
    padding-top: 1%;
    padding-right: 4%;
    padding-bottom: 1%;
    width:60%;
}

.line{
    width: 63%;
}

.login{
    width:50%;
    margin: 0 auto;
    margin-top:30px;
}

#adminlogin {
    color:#ffffff;
    width:80%;
  }

#signin {
    background-color: #00b8e6;
    color: black;
    padding: 1% 1%;
    margin: 0 auto;
    margin-left: 10%;
    border: none;
    cursor: pointer;
    width:30%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
#footer {
    margin:0 auto;
    width 50%
}
.copyright {
    font-family: Arial,
         "Helvetica Neue",
         Helvetica,
         sans-serif;
    color: #ffffff;
    padding-top: 20%;
    width: 100%;
    float:right;
}

.year {
    color: #ffffff;
    display:inline-block;


}

img.companylogo {
   padding-top: 30px;
   vertical-align: sub;
   width: 10%

}



